<div @using Sitecore.Mvc
     @using Sitecore.Mvc.Presentation

     
     class="grid__item">
    <div class="product">
        <div class="tm-nav-link">
            <i class="fas fa-handshake fa-3x tm-nav-icon"></i>
            <span class="tm-nav-text">@Html.Sitecore().Field("Title5")</span>
            <div class="product__bg"></div>
        </div>
        <div class="product__description">
            <div class="p-sm-4 p-2">
                <div class="row mb-3">
                    <div class="col-12">
                        <h2 class="tm-page-title">@Html.Sitecore().Field("Title6")</h2>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        @Html.Sitecore().Field("Paragraph4")
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="p-sm-4 p-2 tm-img-container">
                            <div class="tm-img-slider" id="tmImgSlider">
                                <a href="#" class="tm-slider-img-link">
                                    @Html.Sitecore().Field("Image4", new { @class = "img-fluid tm-slider-img", DisableWebEdit = true })
                                                            </a>
                                <a href="#" class="tm-slider-img-link">
                                    @Html.Sitecore().Field("Image5", new { @class = "img-fluid tm-slider-img", DisableWebEdit = true })
                                                            </a>
                                <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-03-tn.jpg" alt="Image 3" class="img-fluid tm-slider-img"></a>
                                <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-04-tn.jpg" alt="Image 4" class="img-fluid tm-slider-img"></a>
                                <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-05-tn.jpg" alt="Image 5" class="img-fluid tm-slider-img"></a>
                                <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-06-tn.jpg" alt="Image 6" class="img-fluid tm-slider-img"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
